Repository camunda/camunda-bpm-platform, pull requests merged in 2020-11, with the labels that each got.

#1073 CAM-12326: fix(rest-openapi): add nullable field to string parameters
  engine-rest/engine-rest-openapi/README.md
  engine-rest/engine-rest-openapi/src/main/templates/lib/utils.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/ProcessEngineDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SchemaLogEntryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SignalDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/VersionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/DurationReportResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricActivityInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricProcessInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/message/CorrelationMessageDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/message/MessageCorrelationResultWithVariableDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/metrics/MetricsIntervalResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/CaseDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DecisionDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DecisionRequirementsDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentResourceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/IncidentStatisticsResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/ProcessDefinitionDiagramDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/ProcessDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/ProcessDefinitionSuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ActivityInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ActivityInstanceIncidentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/EventSubscriptionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ExecutionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/IncidentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ProcessInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/TransitionInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/batch/BatchDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/CompleteExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExtendLockOnExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskBpmnError.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskFailureDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/FetchExternalTaskTopicDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/FetchExternalTasksDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/LockedExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/modification/ProcessInstanceModificationInstructionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/modification/RestartProcessInstanceModificationInstructionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/AttachmentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/CommentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/TaskBpmnErrorDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/TaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/TaskEscalationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/user/UserProfileDto.ftl
Labels: rest-api

#1090 CAM-11528: feat(openapi): add OpenAPI doc for batch endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/batch.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/batch/BatchDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/batch/BatchStatisticsDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ProcessInstanceSuspensionStateAsyncDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ProcessInstanceSuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/batch/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/batch/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/batch/statistics/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/batch/statistics/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/batch/{id}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/batch/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/batch/{id}/suspended/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/get.ftl
Labels: rest-api

#1092 test(qa/run/webapps): make LoginIT more robust
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/webapps/LoginIT.java
  qa/integration-tests-webapps/integration-tests/src/main/java/org/camunda/bpm/LoginIT.java
Labels: webapp-integration

#1097 CAM-12326: configure nullable field for array and dto properties and enable nullable by default
  engine-rest/engine-rest-openapi/README.md
  engine-rest/engine-rest-openapi/src/main/templates/lib/utils.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/ProcessEngineDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SchemaLogEntryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/VersionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/batch/BatchDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/batch/BatchStatisticsDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/DurationReportResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricActivityInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricProcessInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/message/CorrelationMessageDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/message/MessageCorrelationResultWithVariableDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/metrics/MetricsIntervalResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/metrics/MetricsResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/CaseDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DecisionDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DecisionRequirementsDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentResourceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/IncidentStatisticsResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/ProcessDefinitionDiagramDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/ProcessDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ActivityInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ActivityInstanceIncidentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/EventSubscriptionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ExecutionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/IncidentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ProcessInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/TransitionInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/CompleteExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExtendLockOnExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskBpmnError.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskFailureDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/LockedExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/AttachmentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/CommentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/TaskBpmnErrorDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/TaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/TaskEscalationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/user/UserProfileDto.ftl
Labels: rest-api

#1095 fix(engine): replace like with equal operator in fetch and lock query
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/ExternalTask.xml
Labels: all-db

#1085 fix(engine): meaningful error message for missing errorCode
  engine-rest/engine-rest-openapi/src/main/templates/paths/task/{id}/bpmnError/post.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/task/impl/TaskResourceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/TaskRestServiceInteractionTest.java
  engine/src/main/java/org/camunda/bpm/engine/TaskService.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/HandleTaskBpmnErrorCmd.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/task/TaskServiceTest.java
Labels: default-build

#1094 CAM-9513 incorrect error message when deleting process instance with incomplete ioMapping
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/runtime/impl/ProcessInstanceResourceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ProcessInstanceRestServiceInteractionTest.java
  engine/src/main/java/org/camunda/bpm/engine/RuntimeService.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractDeleteProcessInstanceCmd.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/RuntimeServiceTest.java
Labels: rest-api

#1084 CAM-12644: fix(qa): adjust instance-migration tests for crdb
  qa/test-db-instance-migration/pom.xml
  qa/test-db-instance-migration/test-fixture-710/pom.xml
  qa/test-db-instance-migration/test-fixture-711/pom.xml
  qa/test-db-instance-migration/test-fixture-712/pom.xml
  qa/test-db-instance-migration/test-fixture-713/pom.xml
  qa/test-db-instance-migration/test-fixture-714/pom.xml
  qa/test-db-instance-migration/test-fixture-714/src/main/resources/camunda.cfg.xml
  qa/test-db-instance-migration/test-fixture-715/pom.xml
  qa/test-db-instance-migration/test-fixture-72/pom.xml
  qa/test-db-instance-migration/test-fixture-73/pom.xml
  qa/test-db-instance-migration/test-fixture-74/pom.xml
  qa/test-db-instance-migration/test-fixture-75/pom.xml
  qa/test-db-instance-migration/test-fixture-76/pom.xml
  qa/test-db-instance-migration/test-fixture-77/pom.xml
  qa/test-db-instance-migration/test-fixture-78/pom.xml
  qa/test-db-instance-migration/test-fixture-79/pom.xml
  qa/test-db-instance-migration/test-migration/pom.xml
  qa/test-db-instance-migration/test-migration/src/test/java/org/camunda/bpm/qa/upgrade/authorization/AuthorizationTest.java
Labels: migration

#1096 CAM-11533: feat(openapi): add doc for decision definitions
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/decision-definition.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/utils.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/dmn/EvaluateDecisionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DecisionDefinitionDiagramDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/diagram/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/evaluate/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/history-time-to-live/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/tenant-id/{tenant-id}/diagram/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/tenant-id/{tenant-id}/evaluate/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/tenant-id/{tenant-id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/tenant-id/{tenant-id}/history-time-to-live/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/tenant-id/{tenant-id}/xml/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/key/{key}/xml/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/{id}/diagram/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/{id}/evaluate/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/{id}/history-time-to-live/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-definition/{id}/xml/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/key/{key}/form-variables/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/key/{key}/tenant-id/{tenant-id}/form-variables/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/{id}/form-variables/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/task/{id}/complete/post.ftl
Labels: rest-api

#1099 CAM-12651: fix(engine): clarify lock external task api behavior
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/LockExternalTaskDto.ftl
  engine/src/main/java/org/camunda/bpm/engine/ExternalTaskService.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/externaltask/ExternalTaskServiceTest.java
Labels: h2

#1100 chore(pom): bump mybatis from 3.5.3 to 3.5.6
  pom.xml
Labels: all-db

#1118 fix(webapps): skip deploy zip frontend sources to maven central
  webapps/pom.xml
Labels: webapp-integration

#1048 CAM-12524: fix(engine): detect crdb errors on tx commit
  engine-spring/core/src/main/java/org/camunda/bpm/engine/spring/SpringTransactionInterceptor.java
  engine-spring/core/src/main/java/org/camunda/bpm/engine/spring/SpringTransactionsProcessEngineConfiguration.java
  engine-spring/core/src/test/java/org/camunda/bpm/engine/spring/test/transaction/crdb/CrdbTxRetryOnCommitDelegate.java
  engine-spring/core/src/test/java/org/camunda/bpm/engine/spring/test/transaction/crdb/CrdbTxRetryOnCommitTest.java
  engine-spring/core/src/test/resources/org/camunda/bpm/engine/spring/test/transaction/CrdbTransactionIntegrationTest.crdbFailureProcess.bpmn20.xml
  engine/src/main/java/org/camunda/bpm/engine/impl/cfg/JtaProcessEngineConfiguration.java
  engine/src/main/java/org/camunda/bpm/engine/impl/db/sql/DbSqlSession.java
  engine/src/main/java/org/camunda/bpm/engine/impl/interceptor/JtaTransactionInterceptor.java
  engine/src/main/java/org/camunda/bpm/engine/impl/util/DatabaseUtil.java
  engine/src/test/java/org/camunda/bpm/engine/impl/cfg/JtaTransactionInterceptorTest.java
Labels: all-db

#1122 fix(engine): make form properties available to custom TenantIdProvider
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/ExecutionEntity.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/multitenancy/TenantIdProviderTest.java
Labels: h2

#1124 fix(engine): initialize variables before starting process
  engine/src/main/java/org/camunda/bpm/engine/impl/pvm/runtime/PvmExecutionImpl.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/ProcessInstantiationAtActivitiesHistoryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/event/timer/StartTimerEventTest.java
  engine/src/test/resources/org/camunda/bpm/engine/test/bpmn/event/timer/StartTimerEventTest.shouldEvaluateExpressionStartTimerEventInEventSubprocess.bpmn20.xml
Labels: default-build

#1125 chore(spring-boot-starter): bump to Spring Boot 2.4
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/util/SpringBootManagedContainer.java
  parent/pom.xml
  spring-boot-starter/starter-test/pom.xml
  spring-boot-starter/starter/pom.xml
Labels: run, spring-boot

#1129 chore(dependency): bump commons-io to 2.8
  engine-rest/engine-rest/pom.xml
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/history/HistoricDecisionInstanceRestServiceInteractionTest.java
  internal-dependencies/pom.xml
Labels: default-build

#1132 CAM-12772: Restore activity id MDC after nested command returns
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/ExecuteJobsCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/context/Context.java
  engine/src/main/java/org/camunda/bpm/engine/impl/interceptor/ProcessDataContext.java
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/ExecuteJobHelper.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/JobEntityTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/logging/ProcessDataLoggingContextTest.java
Labels: h2

#1139 CAM-12769: populate incident message when job has 0 retries
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DefaultJobRetryCmd.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/IncidentTest.java
Labels: h2

#1133 chore(engine): enable empty string variable value on Oracle
  engine/src/main/java/org/camunda/bpm/engine/impl/AbstractQueryVariableValueCondition.java
  engine/src/main/java/org/camunda/bpm/engine/impl/AbstractVariableQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/CompositeQueryVariableValueCondition.java
  engine/src/main/java/org/camunda/bpm/engine/impl/HistoricProcessInstanceQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/HistoricTaskInstanceQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/HistoricVariableInstanceQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/ProcessInstanceQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/QueryVariableValue.java
  engine/src/main/java/org/camunda/bpm/engine/impl/SingleQueryVariableValueCondition.java
  engine/src/main/java/org/camunda/bpm/engine/impl/TaskQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/externaltask/TopicFetchInstruction.java
  engine/src/main/java/org/camunda/bpm/engine/impl/variable/serializer/StringValueSerializer.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Commons.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/VariableInstanceQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/history/HistoricVariableInstanceTest.java
  qa/test-db-instance-migration/test-fixture-714/src/main/java/org/camunda/bpm/qa/upgrade/TestFixture.java
  qa/test-db-instance-migration/test-fixture-714/src/main/java/org/camunda/bpm/qa/upgrade/variable/EmptyStringVariableScenario.java
  qa/test-db-instance-migration/test-fixture-714/src/main/resources/org/camunda/bpm/qa/upgrade/variable/oneTaskProcess.bpmn20.xml
  qa/test-db-instance-migration/test-migration/src/test/java/org/camunda/bpm/qa/upgrade/scenarios7150/variable/EmptyStringVariableTest.java
  qa/test-db-rolling-update/rolling-update-util/src/main/java/org/camunda/bpm/qa/rolling/update/TestFixture.java
  qa/test-db-rolling-update/rolling-update-util/src/main/java/org/camunda/bpm/qa/rolling/update/scenarios/variable/EmptyStringVariableScenario.java
  qa/test-db-rolling-update/test-old-engine/src/test/java/org/camunda/bpm/qa/rolling/update/variable/EmptyStringVariableTest.java
  webapps/src/main/java/org/camunda/bpm/cockpit/impl/plugin/base/dto/query/AbstractProcessInstanceQueryDto.java
  webapps/src/main/java/org/camunda/bpm/cockpit/impl/plugin/base/dto/query/ProcessDefinitionQueryDto.java
  webapps/src/main/java/org/camunda/bpm/cockpit/impl/plugin/base/sub/resources/ProcessDefinitionResource.java
  webapps/src/main/java/org/camunda/bpm/cockpit/impl/plugin/resources/ProcessInstanceRestService.java
Labels: all-db, rolling-update

#1138 feat(open-api): add group endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/group-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/identity/GroupDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/identity/GroupQueryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/count/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/create/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/{id}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/{id}/members/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/{id}/members/{userId}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/{id}/members/{userId}/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/{id}/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/group/{id}/put.ftl
Labels: rest-api

#1144 feat(openapi): add tenant endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/tenant-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/identity/TenantDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/create/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/group-members/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/group-members/{groupId}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/group-members/{groupId}/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/user-members/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/user-members/{userId}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/tenant/{id}/user-members/{userId}/put.ftl
Labels: rest-api
