Repository camunda/camunda-bpm-platform, pull requests merged in 2020-04, with the labels that each got.

#766 CAM-11697: feat(rest): add external task query & count openapi endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/external-task-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/utils.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskQueryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/external-task/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/external-task/count/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/external-task/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/external-task/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/task/{id}/localVariables/{varName}/data/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/task/{id}/variables/{varName}/data/get.ftl
Labels: rest-api

#762 CAM-11535: feat(openapi): add deployment endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/deployment-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentResourceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentWithDefinitionsDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/RedeploymentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/create/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/{id}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/{id}/redeploy/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/{id}/resources/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/{id}/resources/{resourceId}/data/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/deployment/{id}/resources/{resourceId}/get.ftl
  engine-rest/engine-rest-openapi/src/test/java/org/camunda/bpm/engine/rest/openapi/client/DeploymentTest.java
Labels: rest-api

#755 CAM-11665: make integration tests run on Unix systems
  distro/run/assembly/resources/start.sh
  distro/run/core/src/main/java/org/camunda/bpm/run/CamundaBpmRunConfiguration.java
  distro/run/core/src/main/java/org/camunda/bpm/run/CamundaBpmRunRestConfiguration.java
  distro/run/pom.xml
  distro/run/qa/integration-tests/pom.xml
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/AutoDeploymentIT.java
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/ComponentAvailabilityIT.java
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/ProductionConfigurationIT.java
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/SqlAvailabilityIT.java
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/util/SpringBootManagedContainer.java
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/webapps/LoginIT.java
  distro/run/qa/runtime/pom.xml
Labels: run

#773 [CAM-11714] chore(rest): expose processInstanceIds for job query
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/runtime/JobQueryDto.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/JobRestServiceQueryTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/helper/MockProvider.java
Labels: rest-api

#761 CAM-11689: Add filter and sort by deployment time options to ProcessDefinitionQuery
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/repository/ProcessDefinitionQueryDto.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ProcessDefinitionRestServiceQueryTest.java
  engine/src/main/java/org/camunda/bpm/engine/impl/ProcessDefinitionQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/ProcessDefinitionQueryProperty.java
  engine/src/main/java/org/camunda/bpm/engine/impl/QueryOrderingProperty.java
  engine/src/main/java/org/camunda/bpm/engine/impl/db/sql/DbSqlSessionFactory.java
  engine/src/main/java/org/camunda/bpm/engine/impl/db/sql/DeploymentTableMapping.java
  engine/src/main/java/org/camunda/bpm/engine/impl/db/sql/MybatisJoinHelper.java
  engine/src/main/java/org/camunda/bpm/engine/repository/ProcessDefinitionQuery.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/ProcessDefinition.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/repository/AbstractDefinitionQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/repository/CaseDefinitionQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/repository/ProcessDefinitionQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/TestOrderingUtil.java
Labels: all-db

#769 [CAM-11712] feat(rest): expose externalTaskIdIn for external task query
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/external-task-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskQueryDto.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/externaltask/ExternalTaskQueryDto.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ExternalTaskRestServiceQueryTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/helper/MockProvider.java
Labels: rest-api

#764 CAM-11690: Add filter and sort by deployment time options to DecisionDefinitionQuery
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/repository/DecisionDefinitionQueryDto.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/DecisionDefinitionRestServiceQueryTest.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/entity/repository/DecisionDefinitionQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/entity/repository/DecisionDefinitionQueryProperty.java
  engine/src/main/java/org/camunda/bpm/engine/repository/DecisionDefinitionQuery.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/DecisionDefinition.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/repository/DecisionDefinitionQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/TestOrderingUtil.java
Labels: all-db

#782 fix(rest-openapi): fix docsVersion for alpha releases
  engine-rest/engine-rest-openapi-generator/src/main/java/org/camunda/bpm/engine/rest/openapi/generator/impl/TemplateParser.java
Labels: rest-api

#780 CAM-11749: adjust async operation ids
  engine-rest/engine-rest-openapi/README.md
  engine-rest/engine-rest-openapi/src/main/templates/paths/external-task/retries-async/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/delete/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/suspended-async/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/modification-async/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/task/{id}/delegate/post.ftl
Labels: rest-api

#784 chore(rest-openapi): add process instance examples
  engine-rest/engine-rest-openapi/src/main/templates/paths/external-task/retries-async/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/count/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/delete-historic-query-based/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/delete/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/job-retries-historic-query-based/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/job-retries/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/suspended-async/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/suspended/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/activity-instances/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/modification-async/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/modification/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/suspended/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/variables/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/variables/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/variables/{varName}/data/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/variables/{varName}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/variables/{varName}/put.ftl
Labels: rest-api

#781 improve(rest-openapi): add nullable field to int/long properties
  engine-rest/engine-rest-openapi/README.md
  engine-rest/engine-rest-openapi/src/main/templates/lib/utils.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/CountResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SchemaLogEntryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/metrics/MetricsIntervalResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/metrics/MetricsResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/CaseDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DecisionDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DecisionRequirementsDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/DeploymentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/repository/ProcessDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ExecutionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ProcessInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/batch/BatchDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExtendLockOnExternalTaskDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/externaltask/ExternalTaskFailureDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/modification/ProcessInstanceModificationInstructionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/AttachmentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/CommentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/task/TaskDto.ftl
Labels: rest-api

#786 fix(engine): convert null byte array to empty string and not throw NPE
  engine/src/main/java/org/camunda/bpm/engine/impl/util/StringUtil.java
  engine/src/test/java/org/camunda/bpm/engine/impl/util/StringUtilTest.java
Labels: default-build

#778 CAM-11738: consistently use dash styled properties for run config
  distro/run/assembly/resources/production.yml
Labels: run

#788 fix(spring-boot): use non-blocking rejected jobs handler
  spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/configuration/impl/DefaultJobConfiguration.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/configuration/impl/DefaultJobConfigurationTest.java
Labels: spring-boot

#801 fix(openapi-generator): add null values serialization in gson formatting
  engine-rest/engine-rest-openapi-generator/src/main/java/org/camunda/bpm/engine/rest/openapi/generator/impl/TemplateParser.java
Labels: rest-api

#796 chore(optimize): add sequence counters to running and completed actvi…
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/history/HistoricActivityInstanceDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/history/optimize/OptimizeHistoricActivityInstanceDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricActivityInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/optimize/OptimizeRestService.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/history/impl/HistoricActivityInstanceResourceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/helper/MockProvider.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/optimize/OptimizeCompletedActivityInstanceRestServiceTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/optimize/OptimizeRunningActivityInstanceRestServiceTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/optimize/GetCompletedHistoricActivityInstancesForOptimizeTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/optimize/GetRunningHistoricActivityInstancesForOptimizeTest.java
Labels: default-build, rest-api

#799 fix(spring-boot/qa): enable webapp integration tests
  spring-boot-starter/starter-qa/integration-test-webapp/pom.xml
  spring-boot-starter/starter-qa/integration-test-webapp/runtime/pom.xml
  spring-boot-starter/starter-qa/integration-test-webapp/runtime/src/test/resources/testconfig.properties
  spring-boot-starter/starter-qa/integration-test-webapp/runtimes/community/pom.xml
  spring-boot-starter/starter-qa/integration-test-webapp/runtimes/pom.xml
Labels: spring-boot

#800 chore(run): exclude asm dependency from test scope
  distro/run/core/pom.xml
Labels: run

#789 improve(engine-tests): use auth scenario for job tests
  engine/src/test/java/org/camunda/bpm/engine/test/api/authorization/JobAuthorizationTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/authorization/job/SetJobRetriesAuthorizationTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/authorization/job/UpdateJobAuthorizationTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/authorization/util/AuthorizationScenarioInstance.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/authorization/util/MissingAuthorizationMatcher.java
Labels: no-build

#797 Enforce Historic Task Authorizations for User Operation Log Query
  engine/src/main/java/org/camunda/bpm/engine/HistoryService.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/AuthorizationManager.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/UserOperationLogEntry.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/authorization/history/UserOperationLogAuthorizationTest.java
Labels: authorizations

#791 CAM-11186: add new pricing model metrics
  engine-dmn/engine/src/main/java/org/camunda/bpm/dmn/engine/delegate/DmnDecisionEvaluationEvent.java
  engine-dmn/engine/src/main/java/org/camunda/bpm/dmn/engine/impl/DefaultDmnDecisionContext.java
  engine-dmn/engine/src/main/java/org/camunda/bpm/dmn/engine/impl/delegate/DmnDecisionEvaluationEventImpl.java
  engine-dmn/engine/src/main/java/org/camunda/bpm/dmn/engine/impl/metrics/DefaultEngineMetricCollector.java
  engine-dmn/engine/src/main/java/org/camunda/bpm/dmn/engine/impl/metrics/DmnEngineMetricCollectorWrapper.java
  engine-dmn/engine/src/main/java/org/camunda/bpm/dmn/engine/spi/DmnEngineMetricCollector.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cfg/ProcessEngineConfigurationImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/metrics/dmn/MetricsDecisionEvaluationListener.java
  engine/src/main/java/org/camunda/bpm/engine/impl/metrics/parser/MetricsBpmnParseListener.java
  engine/src/main/java/org/camunda/bpm/engine/impl/metrics/parser/MetricsExecutionListener.java
  engine/src/main/java/org/camunda/bpm/engine/management/Metrics.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/AbstractMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/ActivityInstanceCountMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/DecisionMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/ExecutedDecisionElementsMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/JobExecutorMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/MetricsDisabledTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/MetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/RootProcessInstanceMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/standalone/db/entitymanager/PurgeDatabaseTest.java
Labels: all-db

#807 chore(spring-boot): remove license key configuration from ce
  spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/CamundaBpmConfiguration.java
  spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/configuration/impl/custom/EnterLicenseKeyConfiguration.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/configuration/impl/custom/EnterLicenseKeyConfigurationTest.java
  spring-boot-starter/starter/src/test/resources/camunda-license-dummy.txt
Labels: spring-boot
