Repository camunda/camunda-bpm-platform, pull requests merged in 2021-04, with the labels that each got.

#1399 chore(qa): adjust Oracle empty string test for 7.16
  qa/test-db-rolling-update/test-old-engine/src/test/java/org/camunda/bpm/qa/rolling/update/variable/EmptyStringVariableTest.java
Labels: mysql, oracle, pipelines, postgresql

#1402 fix(engine): fix after migration, user task is not active anymore
  engine/src/main/java/org/camunda/bpm/engine/impl/migration/instance/MigratingActivityInstance.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/migration/MigrationEventSubProcessTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/migration/MigrationUserTaskTest.java
Labels: h2

#1400 fix(ci): remove post action for engine-api-compatibility
  Jenkinsfile
Labels: default-build, pipelines

#1406 chore(ci): disable parallel builds
  .ci/daily/Jenkinsfile
  .ci/sidetrack/Jenkinsfile
  Jenkinsfile
Labels: cockroachdb, e2e, migration, pipelines, rolling-update

#1405 chore(ci): use default branch var instead of hard-coded value
  Jenkinsfile
Labels: h2, no-build, pipelines

#1403 CAM-13279: chore(spring): bump spring versions
  engine-spring/compatibility-test-spring4/pom.xml
  parent/pom.xml
Labels: h2

#1409 chore(ci): rename UPSTREAM_PR to UPSTREAM
  .ci/daily/Jenkinsfile
  .ci/sidetrack/Jenkinsfile
Labels: e2e, h2, no-build, pipelines

#1413 feat(openapi): add filter endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/filter-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/utils.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/filter/CreateFilterDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/filter/FilterDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/create/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/count/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/list/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/list/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/singleResult/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/filter/{id}/singleResult/post.ftl
Labels: rest-api

#1417 feat(openapi): add historic decision definition endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/history-cleanable-decision-definition-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/CleanableHistoricDecisionInstanceReportResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-definition/cleanable-decision-instance-report/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-definition/cleanable-decision-instance-report/get.ftl
Labels: rest-api

#1415 feat(openapi): add historic drd endpoint
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionInstanceStatisticsDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-requirements-definition/{id}/statistics/get.ftl
Labels: rest-api

#1411 feat(open-api): add modification endpoints
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/ModificationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/modification/MultipleProcessInstanceModificationInstructionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/modification/ProcessInstanceModificationInstructionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/modification/execute/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/modification/executeAsync/post.ftl
Labels: pipelines, rest-api

#1424 feat(openapi): add Historic Job Log Resource
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/history-job-log-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricJobLogDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricJobLogQueryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/job-log/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/job-log/count/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/job-log/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/job-log/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/job-log/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/job-log/{id}/stacktrace/get.ftl
Labels: pipelines, rest-api

#1421 chore(openapi): Add Migration endpoint
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationExecutionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationInstructionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationInstructionValidationReportDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationPlanDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationPlanGenerationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationPlanReportDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/execute/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/executeAsync/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/generate/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/validate/post.ftl
Labels: pipelines, rest-api

#1410 CAM-11523: feat(openapi): add authorization endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/authorization-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/authorization/AuthorizationCheckResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/authorization/AuthorizationCreateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/authorization/AuthorizationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/authorization/AuthorizationUpdateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/check/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/create/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/{id}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/{id}/options.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/authorization/{id}/put.ftl
Labels: pipelines, rest-api

#1423 feat(openapi): add historic decision instance endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/historic-decision-instance-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/historic-decision-instance-single-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/DeleteHistoricDecisionInstancesDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionInputInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionInstanceQueryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionOutputInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/SetRemovalTimeToHistoricDecisionInstancesDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-instance/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-instance/delete/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-instance/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-instance/set-removal-time/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/decision-instance/{id}/get.ftl
Labels: rest-api

#1429 feat(openapi): add job definition endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/job-definition-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/SuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/JobDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/JobDefinitionPriorityDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/JobDefinitionQueryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/JobDefinitionSuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/JobDefinitionsSuspensionStateDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/count/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/suspended/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/{id}/jobPriority/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/{id}/retries/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/{id}/suspended/put.ftl
Labels: pipelines, rest-api
