Repository camunda/camunda-bpm-platform, pull requests merged in 2021-09, with the labels that each got.

#1604 feat(cockpit): navigate running dynamic call activities in definition view
  webapps/src/main/runtime/develop/java/org/camunda/bpm/pa/DevProcessApplication.java
  webapps/src/main/runtime/develop/resources/pa5/call-activities-with-references.bpmn
  webapps/ui/cockpit/client/scripts/components/callActivityOverlays/callActivityOverlay.js
  webapps/ui/cockpit/client/scripts/components/callActivityOverlays/definition/index.js
  webapps/ui/cockpit/client/scripts/components/callActivityOverlays/instance/index.js
Labels: webapp-integration, default-build, e2e

#1602 fix(engine): bump Jersey to 2.34
  distro/run/pom.xml
  engine-rest/assembly/assembly-war-was9.xml
  engine-rest/assembly/assembly-war-wls.xml
  engine-rest/assembly/pom.xml
  engine-rest/engine-rest-jaxrs2/pom.xml
  engine-rest/engine-rest/pom.xml
  parent/pom.xml
Labels: rest-api, all-as, webapp-integration, run

#1606 CAM-13874: update template engine versions to 2.1.0
  parent/pom.xml
  pom.xml
Labels: all-as, webapp-integration

#1574 chore(openapi): add notLike to ConditionalQueryParameterDto
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/ConditionQueryParameterDto.ftl
Labels: rest-api

#1612 fix(open-api): change type of variable value to AnyType
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/VariableValueDto.ftl
Labels: rest-api

#1614 fix(cockpit): remove hidden blocking tooltips
  webapps/ui/cockpit/client/scripts/components/callActivityOverlays/callActivityOverlay.js
Labels: webapp-integration, default-build, e2e

#1611 CAM-13812: update Tomcat to 9.0.52
  distro/run/core/pom.xml
  spring-boot-starter/starter/pom.xml
Labels: tomcat, run, spring-boot, java-dependency-tree

#1607 feat(engine): adds asynchronous message correlation API
  engine/src/main/java/org/camunda/bpm/engine/RuntimeService.java
  engine/src/main/java/org/camunda/bpm/engine/authorization/BatchPermissions.java
  engine/src/main/java/org/camunda/bpm/engine/batch/Batch.java
  engine/src/main/java/org/camunda/bpm/engine/history/UserOperationLogEntry.java
  engine/src/main/java/org/camunda/bpm/engine/impl/GetDeployedTaskFormCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/MessageCorrelationAsyncBuilderImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/MessageCorrelationBuilderImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/RuntimeServiceImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/BatchEntity.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/message/MessageCorrelationBatchConfiguration.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/message/MessageCorrelationBatchJobHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cfg/ProcessEngineConfigurationImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractGetDeployedFormCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractInstantiationCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractSetStateCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/ActivityCancellationCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/ActivityInstanceCancellationCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DeleteDeploymentCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/GetDeployedStartFormCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/GetDeploymentProcessDiagramCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/GetDeploymentProcessDiagramLayoutCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/GetDeploymentProcessModelCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/GetStartFormVariablesCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/ModifyProcessInstanceCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/ProcessInstanceModificationCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/TransitionInstanceCancellationCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/batch/CorrelateAllMessageBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmmn/cmd/GetDeploymentCaseDiagramCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmmn/cmd/GetDeploymentCaseModelCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/GetDeploymentDecisionDiagramCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/GetDeploymentDecisionModelCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/GetDeploymentDecisionRequirementsDiagramCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/GetDeploymentDecisionRequirementsModelCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/interceptor/CommandContext.java
  engine/src/main/java/org/camunda/bpm/engine/impl/json/MessageCorrelationBatchConfigurationJsonConverter.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/deploy/DeleteDeploymentFailListener.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/deploy/DeploymentFailListener.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/deploy/cache/ModelInstanceCache.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/DeploymentManager.java
  engine/src/main/java/org/camunda/bpm/engine/impl/runtime/CorrelationSet.java
  engine/src/main/java/org/camunda/bpm/engine/impl/runtime/DefaultCorrelationHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/util/EnsureUtil.java
  engine/src/main/java/org/camunda/bpm/engine/impl/util/JsonUtil.java
  engine/src/main/java/org/camunda/bpm/engine/runtime/MessageCorrelationAsyncBuilder.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/authorization/batch/creation/CorrelateAllMessageBatchAuthorizationTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/CorrelateAllMessageBatchTest.java
Labels: tomcat, spring-boot

#1613 feat(rest): add message correlation batch endpoint
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/batch/CorrelationMessageAsyncDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/message-async/post.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/ProcessInstanceRestService.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/runtime/batch/CorrelationMessageAsyncDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/ProcessInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ProcessInstanceRestServiceInteractionTest.java
Labels: rest-api

#1616 chore(commons-ui): remove help.js
  webapps/camunda-commons-ui/lib/directives/help.js
Labels: webapp-integration, default-build, e2e

#1615 feat(sdk-js): add correlate message batch operation
  webapps/camunda-bpm-sdk-js/lib/api-client/resources/process-instance.js
Labels: e2e

#1560 CAM-13784: feat(ci): add javadoc staging stage
  .ci/daily/Jenkinsfile
  parent/pom.xml
  pom.xml
Labels: default-build

#1626 chore(run): remove META-INF folder from artifact
  distro/run/distro/assembly.xml
  distro/tomcat/distro/assembly.xml
  distro/wildfly/distro/assembly.xml
Labels: all-as, run

#1628 fix(cockpit): skip loading plugins for not yet intialized tables
  webapps/camunda-commons-ui/lib/widgets/dmn-viewer/cam-widget-dmn-viewer.js
Labels: e2e

#1624 fix(webapps): add direct dependency to dmn-font
  webapps/package-lock.json
  webapps/package.json
  webapps/ui/cockpit/grunt/config/copy.js
Labels: no-build
