Repository camunda/camunda-bpm-platform, pull requests merged in 2021-12, with the labels that each got.

#1686 chore(engine-spring): close all test process engines
  engine-spring/core/src/test/java/org/camunda/bpm/engine/spring/test/ExampleConfiguration.java
  engine-spring/core/src/test/java/org/camunda/bpm/engine/spring/test/configuration/SpringProcessEngineInitializationTest.java
  engine-spring/core/src/test/resources/activiti-context.xml
Labels: default-build

#1687 feat(webapps/commons): search pill dialog for in criterion value
  webapps/camunda-commons-ui/lib/widgets/inline-field/cam-widget-inline-field.html
  webapps/camunda-commons-ui/lib/widgets/inline-field/cam-widget-inline-field.js
  webapps/camunda-commons-ui/lib/widgets/inline-field/cam-widget-inline-field.less
  webapps/camunda-commons-ui/lib/widgets/inline-field/dialog/controller.js
  webapps/camunda-commons-ui/lib/widgets/inline-field/dialog/template.html
  webapps/camunda-commons-ui/lib/widgets/search-pill/cam-widget-search-pill.html
  webapps/ui/tasklist/client/scripts/tasklist/plugins/cam-tasklist-search-plugin-config.json
  webapps/ui/tasklist/client/scripts/tasklist/plugins/cam-tasklist-search-plugin.js
Labels: no-build

#1685 chore(spring-boot-starter): disable cache for specific ITs
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/CookieNameIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/SameSiteCustomValueIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/SameSiteDisabledIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/SameSiteEnabledIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/SameSiteOptionLaxIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/SameSiteOptionStrictIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/SecureDisabledIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/properties/SecureEnabledIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/headersec/it/properties/HttpHeaderSecurityAbsenceIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/headersec/it/properties/HttpHeaderSecurityPresenceIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/headersec/it/properties/HttpHeaderSecurityValueIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/CookieNameIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/SameSiteCustomValueIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/SameSiteDisabledIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/SameSiteEnabledIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/SameSiteOptionLaxIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/SameSiteOptionStrictIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/SecureDisabledIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/properties/SecureEnabledIT.java
Labels: spring-boot

#1694 fix(spin-plugin): make accessing `null` variable `null` safe
  engine-plugins/spin-plugin/src/main/java/org/camunda/spin/plugin/impl/JsonValueSerializer.java
  engine-plugins/spin-plugin/src/test/java/org/camunda/spin/plugin/variables/JsonValueTest.java
Labels: h2

#1693 CAM-14153: let parse listeners modify form key via task definition
  engine/src/main/java/org/camunda/bpm/engine/impl/bpmn/parser/BpmnParse.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/GetFormKeyCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/form/FormDefinition.java
  engine/src/main/java/org/camunda/bpm/engine/impl/form/handler/DefaultFormHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/form/handler/DefaultStartFormHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/form/handler/DefaultTaskFormHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/ProcessDefinitionEntity.java
  engine/src/main/java/org/camunda/bpm/engine/impl/task/TaskDefinition.java
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/event/start/StartEventCamundaFormDefinitionParseTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/usertask/UserTaskCamundaFormDefinitionParseTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/standalone/deploy/BPMNParseListenerTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/standalone/deploy/DelegatingBpmnParseListener.java
  engine/src/test/resources/org/camunda/bpm/engine/test/standalone/deploy/bpmn.parse.listener.camunda.cfg.xml
Labels: h2

#1664 Create telemetry data REST API
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/telemetry/AbstractVendorVersionInformationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/telemetry/TelemetryConfigurationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/telemetry/TelemetryCountDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/telemetry/TelemetryDataDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/telemetry/TelemetryInternalsDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/telemetry/TelemetryLicenseKeyDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/telemetry/TelemetryProductDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/telemetry/data/get.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/TelemetryRestService.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/ApplicationServerDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/CommandDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/DatabaseDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/InternalsDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/JdkDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/LicenseKeyDataDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/MetricDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/ProductDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/telemetry/TelemetryDataDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/TelemetryRestServiceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/TelemetryRestServiceTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/helper/MockProvider.java
Labels: rest-api

#1696 test(spring-boot): fix failing `CsrfPreventionIT`
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/csrf/it/CsrfPreventionIT.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/session/it/SessionCookieIT.java
Labels: no-build

#1692 feat(parent): bump Spring Boot to 2.6.1
  parent/pom.xml
  spring-boot-starter/pom.xml
  spring-boot-starter/starter-client/spring-boot/pom.xml
  spring-boot-starter/starter-client/spring-boot/src/test/java/org/camunda/bpm/client/spring/boot/starter/client/BasicAuthAndInterceptorConfigurationTest.java
  spring-boot-starter/starter-client/spring-boot/src/test/java/org/camunda/bpm/client/spring/boot/starter/client/BasicAuthConfigurationTest.java
  spring-boot-starter/starter-client/spring/pom.xml
  spring-boot-starter/starter-client/spring/src/test/java/org/camunda/bpm/client/spring/ConfigurationTest.java
  spring-boot-starter/starter-client/spring/src/test/java/org/camunda/bpm/client/spring/DefaultConfigurationTest.java
  spring-boot-starter/starter-client/spring/src/test/java/org/camunda/bpm/client/spring/MockedTest.java
  spring-boot-starter/starter-client/spring/src/test/java/org/camunda/bpm/client/spring/subscription/AutoOpenTrueTest.java
  spring-boot-starter/starter-client/spring/src/test/java/org/camunda/bpm/client/spring/subscription/SubscriptionTest.java
  spring-boot-starter/starter-webapp-core/pom.xml
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/LazyDelegateFilterTest.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/filter/LazyInitRegistrationTest.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/configuration/impl/DefaultDatasourceConfigurationTest.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/configuration/impl/DefaultHistoryConfigurationTest.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/configuration/impl/DefaultHistoryLevelAutoHandlingConfigurationTest.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/event/JobExecutorStartingEventListenerTest.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/event/ProcessApplicationEventPublisherTest.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/jdbc/HistoryLevelDeterminatorJdbcTemplateImplTest.java
Labels: default-build, run, spring-boot, java-dependency-tree

#1703 chore(run): bump Log4J to 2.15.0
  distro/run/pom.xml
Labels: run, java-dependency-tree

#1698 CAM-11913: feat(run): add groovy lib to run distro
  distro/run/assembly/assembly.xml
  distro/run/assembly/pom.xml
  distro/run/pom.xml
  distro/run/qa/runtime/pom.xml
Labels: run

#1701 CAM-11837: feat(run): include the connect plugin by default
  distro/run/core/pom.xml
Labels: run

#1708 chore(run&spring-boot): bump logback to 1.2.8
  distro/run/pom.xml
  parent/pom.xml
  spring-boot-starter/pom.xml
Labels: run, spring-boot

#1707 chore(run&spring-boot): bump log4j to 2.16.0
  distro/run/pom.xml
  spring-boot-starter/pom.xml
Labels: run, spring-boot

#1695 CAM-14141: fix(spin): add safe xml processing
  engine-plugins/spin-plugin/src/main/java/org/camunda/spin/plugin/impl/SpinConfiguration.java
  engine-plugins/spin-plugin/src/main/java/org/camunda/spin/plugin/impl/SpinProcessEnginePlugin.java
  engine-plugins/spin-plugin/src/test/java/org/camunda/spin/plugin/impl/SpinProcessEnginePluginConfigurationTest.java
  engine-plugins/spin-plugin/src/test/resources/custom.camunda.cfg.xml
  pom.xml
Labels: all-as

#1716 chore(run&spring-boot): bump logback to 1.2.9
  distro/run/pom.xml
  spring-boot-starter/pom.xml
Labels: no-build

#1710 CAM-11900: feat(run): expand cors filter
  distro/run/core/src/main/java/org/camunda/bpm/run/CamundaBpmRunRestConfiguration.java
  distro/run/core/src/main/java/org/camunda/bpm/run/property/CamundaBpmRunCorsProperty.java
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/cors/CorsConfigAllowCredentialsTest.java
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/cors/CorsConfigAllowedHeadersTest.java
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/cors/CorsConfigDecorateRequestTest.java
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/cors/CorsConfigurationExposedHeadersTest.java
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/cors/CorsConfigurationPreflightMaxAgeTest.java
Labels: run
