Repository camunda/camunda-bpm-platform, pull requests merged in 2021-05, with the labels that each got.

#1438 feat(openapi): add DRD endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/decision-requirements-definition.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/utils.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/dmn/DecisionRequirementsDefinitionDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/dmn/DecisionRequirementsDefinitionXmlDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/key/{key}/diagram/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/key/{key}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/key/{key}/tenant-id/{tenant-id}/diagram/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/key/{key}/tenant-id/{tenant-id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/key/{key}/tenant-id/{tenant-id}/xml/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/key/{key}/xml/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/{id}/diagram/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/{id}/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/decision-requirements-definition/{id}/xml/get.ftl
Labels: pipelines, rest-api

#1441 feat(openapi): add historic process definition endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/history-process-definition-activity-statistics.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/history-process-definition-process-instance-report.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/CleanableHistoricProcessInstanceReportResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricActivityStatisticsDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/process-definition/cleanable-process-instance-report/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/process-definition/cleanable-process-instance-report/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/process-definition/{id}/statistics/get.ftl
Labels: pipelines, rest-api

#1444 feat(openapi): add historic external task log
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/historic-external-task-log-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricExternalTaskLogDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricExternalTaskLogQueryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/external-task-log/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/external-task-log/count/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/external-task-log/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/external-task-log/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/external-task-log/{id}/error-details/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/external-task-log/{id}/get.ftl
Labels: pipelines, rest-api

#1439 feat(openapi): add historic identity link endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/historic-decision-instance-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/historic-incident-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/history-identity-link.ftl
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/incident-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionInputInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricDecisionOutputInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricIdentityLinkLogDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/HistoricIncidentDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/identity-link-log/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/identity-link-log/get.ftl
Labels: pipelines, rest-api

#1427 feat(openapi): add historic batch endpoints
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/historic-batch-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/main.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/batch/CleanableHistoricBatchReportResultDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/batch/HistoricBatchDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/batch/HistoricBatchQueryDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/history/batch/removaltime/SetRemovalTimeToHistoricBatchesDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/batch/cleanable-batch-report/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/batch/cleanable-batch-report/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/batch/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/batch/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/batch/set-removal-time/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/batch/{id}/delete.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/batch/{id}/get.ftl
Labels: pipelines, rest-api

#1443 feat(openapi): set variables on process instance migration
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/VariableValueDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationInstructionValidationReportDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationPlanDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationPlanGenerationDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationPlanReportDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/migration/MigrationVariableValidationReportDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/execute/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/executeAsync/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/generate/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/migration/validate/post.ftl
Labels: pipelines, rest-api

#1447 CAM-13476: remove retired environments ci
  .ci/config/matrices.yaml
Labels: all-db, pipelines

#1450 chore(ci): merge engine and webapp unit stage
  .ci/config/matrices.yaml
  .ci/config/stage-types.yaml
  Jenkinsfile
Labels: authorizations, no-build, pipelines

#1455 CAM-13482: add orQueries parameter to historic task instance query
  engine-rest/engine-rest-openapi/src/main/templates/lib/commons/history-task-instance-query-params.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/task/count/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/history/task/get.ftl
Labels: pipelines, rest-api

#1463 fix(rest): fix forms not being fetched for cmmn tasks
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/task/impl/TaskResourceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/TaskRestServiceInteractionTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/task/TaskQueryTest.java
  engine/src/test/resources/org/camunda/bpm/engine/test/api/cmmn/oneTaskCaseWithFormKey.cmmn
Labels: rest-api

#1458 chore(deps): bump lodash to version 4.17.21
  webapps/package-lock.json
  webapps/package.json
Labels: e2e

#1461 chore(sdk-js): remove unused test file
  webapps/camunda-bpm-sdk-js/test/superagent-mock-config.js
Labels: no-build

#1469 CAM-9913: fix(engine): use correct classloader with priority job acquisition
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/ExecuteJobsRunnable.java
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/SequentialJobAcquisitionRunnable.java
  engine/src/main/java/org/camunda/bpm/engine/impl/util/ClassLoaderUtil.java
  qa/integration-tests-engine/src/test/java/org/camunda/bpm/integrationtest/functional/classloading/jobexecution/ClassloadingByJobPriorityTest.java
  qa/integration-tests-engine/src/test/resources-tomcat/org/camunda/bpm/integrationtest/functional/classloading/jobexecution/engineWithAcquireJobsByPriority.xml
  qa/integration-tests-engine/src/test/resources-wildfly/org/camunda/bpm/integrationtest/functional/classloading/jobexecution/engineWithAcquireJobsByPriority.xml
Labels: all-as, pipelines

#1470 chore(spring-boot): add application context classloader switch option
  spring-boot-starter/starter/pom.xml
  spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/CamundaBpmPluginConfiguration.java
  spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/plugin/ApplicationContextClassloaderSwitchPlugin.java
Labels: pipelines, spring-boot

#1465 chore(engine): allow setting custom AcquireJobsCommandFactory before starting job executor
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/JobExecutor.java
  engine/src/test/java/org/camunda/bpm/engine/test/jobexecutor/JobExecutorStartTest.java
Labels: default-build, pipelines

#1464 CAM-13477: chore(envs): clean up after retired environments
  database/pom.xml
  engine-rest/engine-rest/pom.xml
  qa/performance-tests-engine/README.md
  qa/tomcat-runtime/assembly.xml
  webapps/pom.xml
Labels: all-as, e2e, pipelines
