Repository camunda/camunda-bpm-platform, pull requests merged in 2022-01, with the labels that each got.

#1699 fix(webapps): join history only when needed
  webapps/src/main/resources/org/camunda/bpm/cockpit/plugin/base/queries/processInstance.xml
Labels: webapp-integration

#1702 chore(parent): provide maximum heap size for failsafe
  parent/pom.xml
Labels: all-db, migration, rest-api, all-as, rolling-update, webapp-integration, default-build, run, spring-boot

#1725 chore(ci): remove aurora postgres 9.6
  .ci/config/matrices.yaml
Labels: no-build

#1728 chore(run&spring-boot): bump log4j to 2.17.1
  distro/run/pom.xml
  spring-boot-starter/pom.xml
Labels: run, spring-boot

#1724 chore(engine): ensure task comment uses configured character encoding
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/CommentEntity.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/encoding/ProcessEngineCharacterEncodingTest.java
Labels: all-db

#1731 chore(engine): bump gson to 2.8.9
  engine-rest/engine-rest-openapi/pom.xml
  parent/pom.xml
Labels: rest-api

#1700 fix(engine): replace IN by OR for MySQL authorization joins
  engine/src/main/java/org/camunda/bpm/engine/impl/cfg/ProcessEngineConfigurationImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/db/sql/DbSqlSessionFactory.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Authorization.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/DecisionDefinition.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/DecisionRequirementsDefinition.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/EventSubscription.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Execution.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/ExternalTask.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricActivityInstance.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricDecisionInstance.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricDetail.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricExternalTaskLog.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricIdentityLinkLog.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricIncident.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricJobLog.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricProcessInstance.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricTaskInstance.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricVariableInstance.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/JobDefinition.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/ProcessDefinition.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Statistics.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Task.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/UserOperationLogEntry.xml
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/VariableInstance.xml
  webapps/src/main/resources/org/camunda/bpm/cockpit/plugin/base/queries/incident.xml
  webapps/src/main/resources/org/camunda/bpm/cockpit/plugin/base/queries/processDefinition.xml
  webapps/src/main/resources/org/camunda/bpm/cockpit/plugin/base/queries/processInstance.xml
Labels: all-db, webapp-integration

#1690 feat(engine/admin): rename metrics to match sales wording
  engine-rest/engine-rest-openapi/src/main/templates/paths/metrics/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/metrics/{metrics-name}/sum/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/telemetry/data/get.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/MetricsRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/metrics/MetricsResourceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/MetricsRestServiceInteractionTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/TelemetryRestServiceTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/helper/MockProvider.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/GetTelemetryDataCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/metrics/MetricsQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/metrics/util/MetricsUtil.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/MetricIntervalEntity.java
  engine/src/main/java/org/camunda/bpm/engine/impl/telemetry/reporter/TelemetrySendingTask.java
  engine/src/main/java/org/camunda/bpm/engine/management/Metrics.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/ManagementServiceGetTelemetryDataTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/ActivityInstanceCountMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/DecisionMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/MetricsIntervalTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/MetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/metrics/RootProcessInstanceMetricsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/telemetry/TelemetryReporterTest.java
  webapps/ui/admin/client/scripts/pages/execution-metrics.js
Labels: rest-api, java, e2e

#1734 feat(rest): registered deployments rest api
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/DeploymentRestService.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/DeploymentRestServiceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ProcessEngineRestServiceTest.java
Labels: rest-api

#1741 CAM-14292: chore(run): remove redundant cors decorate property
  distro/run/core/src/main/java/org/camunda/bpm/run/CamundaBpmRunRestConfiguration.java
  distro/run/core/src/main/java/org/camunda/bpm/run/property/CamundaBpmRunCorsProperty.java
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/cors/CorsConfigDecorateRequestTest.java
Labels: run

#1723 feat(ci): support MariaDB 10.6
  .ci/config/matrices.yaml
Labels: mariadb

#1737 CAM-13447: feat(run): add admin authorization plugin
  distro/run/assembly/resources/production.yml
  distro/run/core/src/main/java/org/camunda/bpm/run/CamundaBpmRunConfiguration.java
  distro/run/core/src/main/java/org/camunda/bpm/run/property/CamundaBpmRunAdministratorAuthorizationProperties.java
  distro/run/core/src/main/java/org/camunda/bpm/run/property/CamundaBpmRunCorsProperty.java
  distro/run/core/src/main/java/org/camunda/bpm/run/property/CamundaBpmRunProperties.java
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/identity/AdminAuthorizationConfigurationTest.java
  distro/run/core/src/test/resources/application-test-admin-auth-enabled.yml
Labels: run

#1750 fix(engine): make configuring `SAXParserFactory` thread-safe
  engine/src/main/java/org/camunda/bpm/application/impl/metadata/ProcessesXmlParser.java
  engine/src/main/java/org/camunda/bpm/container/impl/metadata/BpmPlatformXmlParser.java
  engine/src/main/java/org/camunda/bpm/engine/impl/bpmn/parser/BpmnParse.java
  engine/src/main/java/org/camunda/bpm/engine/impl/bpmn/parser/BpmnParser.java
  engine/src/main/java/org/camunda/bpm/engine/impl/util/EngineUtilLogger.java
  engine/src/main/java/org/camunda/bpm/engine/impl/util/xml/Parse.java
  engine/src/main/java/org/camunda/bpm/engine/impl/util/xml/Parser.java
Labels: no-build
