Repository camunda/camunda-bpm-platform, pull requests merged in 2022-05, with the labels that each got.

#1880 CAM-14302: chore(engine): bump groovy to 2.5.16
  distro/jboss/webapp-standalone/pom.xml
  distro/run/assembly/assembly.xml
  distro/run/assembly/pom.xml
  distro/run/modules/swaggerui/ui/package-lock.json
  distro/run/qa/runtime/pom.xml
  distro/tomcat/assembly/assembly.xml
  distro/tomcat/assembly/pom.xml
  distro/tomcat/webapp-standalone/pom.xml
  distro/wildfly/assembly/assembly.xml
  distro/wildfly/assembly/pom.xml
  distro/wildfly/modules/pom.xml
  distro/wildfly/modules/src/main/modules/org/codehaus/groovy/groovy-all/main/module.xml
  engine-dmn/engine/pom.xml
  engine-plugins/connect-plugin/pom.xml
  engine-plugins/spin-plugin/pom.xml
  engine-rest/pom.xml
  engine-spring/compatibility-test-spring4/pom.xml
  engine-spring/core/pom.xml
  engine/pom.xml
  internal-dependencies/pom.xml
  parent/pom.xml
  qa/integration-tests-engine/pom.xml
  qa/integration-tests-engine/src/test/java/org/camunda/bpm/integrationtest/deployment/war/TestWarDeploymentWithProcessEnginePlugin.java
  qa/test-db-instance-migration/test-fixture-710/pom.xml
  qa/test-db-instance-migration/test-migration/pom.xml
  qa/test-db-upgrade/pom.xml
  qa/test-old-engine/pom.xml
Labels: migration, rest-api, all-as, rolling-update, tomcat, wildfly, webapp-integration, weblogic, websphere, run, spring-boot, e2e

#1888 chore(quarkus): support version 2.8.1
  parent/pom.xml
  quarkus-extension/engine/deployment/pom.xml
  quarkus-extension/engine/deployment/src/test/java/org/camunda/bpm/quarkus/engine/test/ManagedJobExecutorTest.java
  quarkus-extension/engine/deployment/src/test/java/org/camunda/bpm/quarkus/engine/test/config/CamundaEngineDefaultConfigTest.java
  quarkus-extension/engine/deployment/src/test/java/org/camunda/bpm/quarkus/engine/test/config/CamundaEngineProgrammaticAndConfigFileTest.java
  quarkus-extension/engine/deployment/src/test/java/org/camunda/bpm/quarkus/engine/test/helper/ProcessEngineAwareExtension.java
  quarkus-extension/engine/deployment/src/test/java/org/camunda/bpm/quarkus/engine/test/id/ConfigureDbIdGeneratorTest.java
Labels: h2

#1904 fix(distro/run): let example serve `camunda-invoice` assets
  distro/run/modules/example/pom.xml
  distro/run/modules/example/src/main/java/org/camunda/bpm/run/example/invoice/Application.java
Labels: run

#1903 CAM-14302: chore(engine): downgrade groovy to 2.4.21
  distro/jboss/webapp-standalone/pom.xml
  distro/run/assembly/assembly.xml
  distro/run/assembly/pom.xml
  distro/tomcat/assembly/assembly.xml
  distro/tomcat/assembly/pom.xml
  distro/tomcat/webapp-standalone/pom.xml
  distro/wildfly/assembly/assembly.xml
  distro/wildfly/assembly/pom.xml
  distro/wildfly/modules/pom.xml
  distro/wildfly/modules/src/main/modules/org/codehaus/groovy/groovy-all/main/module.xml
  parent/pom.xml
Labels: rest-api, all-as, jdk

#1902 fix(engine): fix tenant <-> group/user membership deletion
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/AuthorizationManager.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Authorization.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/identity/IdentityServiceAuthorizationsTest.java
Labels: authorizations

#1915 chore(deps): bump spin to 1.16.0
  pom.xml
Labels: h2

#1891 feat(engine): stricter content security policy
  distro/run/assembly/resources/production.yml
  webapps/camunda-commons-ui/lib/auth/page/login.html
  webapps/camunda-commons-ui/lib/auth/page/login.less
  webapps/camunda-commons-ui/lib/widgets/footer/cam-widget-footer.html
  webapps/camunda-commons-ui/lib/widgets/footer/cam-widget-footer.less
  webapps/src/main/java/org/camunda/bpm/webapp/impl/engine/ProcessEnginesFilter.java
  webapps/src/main/java/org/camunda/bpm/webapp/impl/security/filter/headersec/HttpHeaderSecurityFilter.java
  webapps/src/main/java/org/camunda/bpm/webapp/impl/security/filter/headersec/provider/HeaderSecurityProvider.java
  webapps/src/main/java/org/camunda/bpm/webapp/impl/security/filter/headersec/provider/impl/ContentSecurityPolicyProvider.java
  webapps/src/test/java/org/camunda/bpm/webapp/impl/security/filter/headersec/ContentSecurityPolicyTest.java
  webapps/ui/admin/client/scripts/index.html
  webapps/ui/admin/client/styles/styles.less
  webapps/ui/cockpit/client/scripts/directives/processDiagram.html
  webapps/ui/cockpit/client/scripts/directives/processDiagram.less
  webapps/ui/cockpit/client/scripts/directives/time-to-live/time-to-live.html
  webapps/ui/cockpit/client/scripts/directives/time-to-live/time-to-live.less
  webapps/ui/cockpit/client/scripts/index.html
  webapps/ui/cockpit/client/styles/styles-components.less
  webapps/ui/cockpit/client/styles/styles.less
  webapps/ui/common/styles/app-splash.less
  webapps/ui/tasklist/client/index.html
  webapps/ui/tasklist/client/styles/styles.less
  webapps/ui/welcome/client/scripts/index.html
  webapps/ui/welcome/client/styles/styles.less
Labels: e2e

#1899 feat(spring-boot): support version 2.7.0
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/swaggerui/SwaggerUIGetRequestIT.java
  distro/run/qa/integration-tests/src/test/java/org/camunda/bpm/run/qa/webapps/LoginIT.java
  distro/run/qa/pom.xml
  parent/pom.xml
  qa/integration-tests-webapps/integration-tests/pom.xml
  qa/integration-tests-webapps/integration-tests/src/main/java/org/camunda/bpm/LoginIT.java
  qa/integration-tests-webapps/pom.xml
  spring-boot-starter/starter-qa/integration-test-webapp/runtime/pom.xml
Labels: webapp-integration
