Repository camunda/camunda-bpm-platform, pull requests merged in 2023-11, with the labels that each got.

#3881 chore(model-api): Add Default HTTL to Process Fluent API
  engine/src/test/java/org/camunda/bpm/engine/test/api/history/removaltime/batch/helper/BatchSetRemovalTimeRule.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/history/removaltime/cleanup/HistoryCleanupRemovalTimeTest.java
  model-api/bpmn-model/src/main/java/org/camunda/bpm/model/bpmn/Bpmn.java
  model-api/bpmn-model/src/main/java/org/camunda/bpm/model/bpmn/builder/AbstractProcessBuilder.java
  model-api/bpmn-model/src/main/java/org/camunda/bpm/model/bpmn/impl/instance/ProcessImpl.java
  model-api/bpmn-model/src/test/java/org/camunda/bpm/model/bpmn/builder/ProcessBuilderTest.java
  model-api/xml-model/src/main/java/org/camunda/bpm/model/xml/type/attribute/Attribute.java
Labels: ci:default-build, ci:spring-boot

#3908 chore(qa): disable telemetry by default for all test setups
  engine/src/test/resources/org/camunda/bpm/engine/test/api/authorization/resource.authorization.provider.camunda.cfg.xml
  qa/test-db-rolling-update/create-new-engine/src/main/resources/camunda.cfg.xml
  qa/test-db-rolling-update/create-old-engine/src/main/resources/camunda.auth.cfg.xml
  qa/test-db-rolling-update/create-old-engine/src/main/resources/camunda.cfg.xml
  qa/test-db-rolling-update/test-old-engine/src/main/resources/camunda.auth.cfg.xml
  qa/test-db-rolling-update/test-old-engine/src/main/resources/camunda.cfg.xml
  qa/test-old-engine/config/camunda.cfg.xml
Labels: ci:postgresql, ci:rolling-update

#3942 chore(test): fix brittle test
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/event/timer/BoundaryTimerNonInterruptingEventTest.java
Labels: ci:all-db

#3915 fix(engine): add missing property to process definition statistics query
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Statistics.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/ProcessDefinitionStatisticsQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/repository/ProcessDefinitionQueryTest.java
  engine/src/test/resources/org/camunda/bpm/engine/test/repository/three_.bpmn20.xml
Labels: ci:all-db

#3947 chore(spring-boot-webapp): introduce filter to make URLs without trailing slashes work
  spring-boot-starter/starter-webapp-core/src/main/java/org/camunda/bpm/spring/boot/starter/webapp/CamundaBpmWebappInitializer.java
  spring-boot-starter/starter-webapp-core/src/main/java/org/camunda/bpm/spring/boot/starter/webapp/filter/AppendTrailingSlashFilter.java
  spring-boot-starter/starter-webapp-core/src/test/java/org/camunda/bpm/spring/boot/starter/webapp/apppath/RequestTrailingSlashIT.java
Labels: ci:spring-boot, scope:spring-boot

#3955 chore(swaggerui): bump dependencies to latest version
  distro/run/modules/swaggerui/ui/package-lock.json
  distro/run/modules/swaggerui/ui/package.json
  distro/run/modules/swaggerui/ui/tasks/license.js
Labels: ci:run

#3957 fix(spring-boot): avoid logging admin user on `INFO`
  spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/configuration/impl/custom/CreateAdminUserConfiguration.java
  spring-boot-starter/starter/src/main/java/org/camunda/bpm/spring/boot/starter/util/SpringBootProcessEngineLogger.java
  spring-boot-starter/starter/src/test/java/org/camunda/bpm/spring/boot/starter/configuration/impl/custom/CreateAdminUserConfigurationTest.java
Labels: ci:spring-boot

#3973 feat(engine): set variables into new scope triggered by correlation
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/message/CorrelationMessageDto.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/message/CorrelationMessageDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/MessageRestServiceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/MessageRestServiceTest.java
  engine/src/main/java/org/camunda/bpm/engine/impl/MessageCorrelationBuilderImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/bpmn/behavior/ThrowSignalEventActivityBehavior.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractCorrelateMessageCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/MessageEventReceivedCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/event/CompensationEventHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/event/ConditionalEventHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/event/EventHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/event/EventHandlerImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/event/SignalEventHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/EventSubscriptionEntity.java
  engine/src/main/java/org/camunda/bpm/engine/impl/pvm/runtime/PvmExecutionImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/pvm/runtime/operation/PvmAtomicOperationCancelActivity.java
  engine/src/main/java/org/camunda/bpm/engine/impl/pvm/runtime/operation/PvmAtomicOperationCreateConcurrentExecution.java
  engine/src/main/java/org/camunda/bpm/engine/runtime/MessageCorrelationBuilder.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/MessageCorrelationTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/event/signal/SignalEventConcurrencyTest.java
Labels: ci:default-build, ci:no-build, ci:rest-api
