Repository camunda/camunda-bpm-platform, pull requests merged in 2023-02, with the labels that each got.

#3050 CAMTEAM-291: publish translation notification on minor releases
  .github/workflows/extract-issue-links.yml
Labels: ci:no-build

#3074 fix(engine): remove permission for transient user creation
  engine/src/main/java/org/camunda/bpm/engine/impl/identity/db/DbIdentityServiceProvider.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/identity/IdentityServiceAuthorizationsTest.java
Labels: ci:default-build, ci:rest-api

#3124 chore(test): fix failing date comparison in mysql test
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/migration/MigrationTransitionInstancesTest.java
Labels: ci:mysql

#3122 [2972]: chore(ci): add aws auora postgresql 14
  .ci/config/matrices.yaml
Labels: ci:no-build, ci:postgresql

#3060 feat(engine): allow update duedate on set job retries (Java API)
  engine/src/main/java/org/camunda/bpm/engine/ManagementService.java
  engine/src/main/java/org/camunda/bpm/engine/impl/ManagementServiceImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/SetJobsRetriesByProcessBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/SetJobRetriesBatchConfiguration.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/externaltask/SetExternalTaskRetriesBatchConfigurationJsonConverter.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/job/SetJobRetriesBatchConfigurationJsonConverter.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/job/SetJobRetriesJobHandler.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractSetJobRetriesCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractSetJobsRetriesBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/CommandLogger.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/SetExternalTasksRetriesBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/SetJobRetriesCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/SetJobsRetriesBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/SetJobsRetriesCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/management/SetJobRetriesBuilderImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/management/SetJobRetriesByJobsAsyncBuilderImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/management/SetJobRetriesByProcessAsyncBuilderImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/JobManager.java
  engine/src/main/java/org/camunda/bpm/engine/management/SetJobRetriesAsyncBuilder.java
  engine/src/main/java/org/camunda/bpm/engine/management/SetJobRetriesBuilder.java
  engine/src/main/java/org/camunda/bpm/engine/management/SetJobRetriesByJobsAsyncBuilder.java
  engine/src/main/java/org/camunda/bpm/engine/management/SetJobRetriesByProcessAsyncBuilder.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Job.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/AbstractAsyncOperationsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/ManagementServiceAsyncOperationsTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/mgmt/ManagementServiceTest.java
  engine/src/test/resources/logback-test.xml
  qa/test-db-instance-migration/test-fixture-710/src/main/java/org/camunda/bpm/qa/upgrade/gson/batch/SetJobRetriesBatchScenario.java
  qa/test-db-instance-migration/test-fixture-718/pom.xml
  qa/test-db-instance-migration/test-fixture-718/src/main/java/org/camunda/bpm/qa/upgrade/TestFixture.java
  qa/test-db-instance-migration/test-fixture-718/src/main/java/org/camunda/bpm/qa/upgrade/job/SetJobRetriesWithDueDateScenario.java
  qa/test-db-instance-migration/test-fixture-718/src/main/resources/org/camunda/bpm/qa/upgrade/job/SetJobRetriesWithDueDateScenario.oneTaskProcess.bpmn20.xml
  qa/test-db-instance-migration/test-fixture-719/pom.xml
  qa/test-db-instance-migration/test-migration/src/test/java/org/camunda/bpm/qa/upgrade/scenarios7110/gson/batch/SetJobRetriesBatchTest.java
  qa/test-db-instance-migration/test-migration/src/test/java/org/camunda/bpm/qa/upgrade/scenarios7190/job/SetJobRetriesWithDueDateTest.java
Labels: ci:h2, ci:migration, ci:mysql, scope:core-api

#3141 3116: return 404 when process definition xml is not found
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/repository/impl/ProcessDefinitionResourceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ProcessDefinitionRestServiceInteractionTest.java
  engine/src/main/java/org/camunda/bpm/engine/RepositoryService.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/CreateMigrationPlanCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DeleteHistoricVariableInstanceCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DeleteHistoricVariableInstancesByProcessInstanceIdCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/deploy/cache/ProcessDefinitionCache.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/repository/RepositoryServiceTest.java
Labels: ci:rest-api

#3115 chore(engine): add tenant check for user op log
  engine/src/main/java/org/camunda/bpm/engine/history/UserOperationLogEntry.java
  engine/src/main/java/org/camunda/bpm/engine/history/UserOperationLogQuery.java
  engine/src/main/java/org/camunda/bpm/engine/impl/SetAnnotationForOperationLog.java
  engine/src/main/java/org/camunda/bpm/engine/impl/UserOperationLogQueryImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/DeleteBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/batch/history/DeleteHistoricBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cfg/multitenancy/TenantCommandChecker.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractSetBatchStateCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DeleteDeploymentCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DeleteHistoricCaseInstanceCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DeleteHistoricCaseInstancesBulkCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/DeployCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/SetAnnotationForIncidentCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/UpdateDecisionDefinitionHistoryTimeToLiveCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/batch/removaltime/SetRemovalTimeToHistoricBatchesCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/batch/removaltime/SetRemovalTimeToHistoricDecisionInstancesCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/cmmn/cmd/UpdateCaseDefinitionHistoryTimeToLiveCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/DeleteHistoricDecisionInstanceByDefinitionIdCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/DeleteHistoricDecisionInstanceByInstanceIdCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/DeleteHistoricDecisionInstancesBatchCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/DeleteHistoricDecisionInstancesBulkCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/EvaluateDecisionCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/dmn/cmd/EvaluateDecisionTableCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/history/producer/DefaultHistoryEventProducer.java
  engine/src/main/java/org/camunda/bpm/engine/impl/oplog/UserOperationLogContextEntry.java
  engine/src/main/java/org/camunda/bpm/engine/impl/oplog/UserOperationLogContextEntryBuilder.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/UserOperationLogManager.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/UserOperationLogEntry.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/multitenancy/MultiTenancyUserOperationLogTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/multitenancy/query/MultiTenancyUserOperationLogQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/multitenancy/tenantcheck/MultiTenancyUserOperationLogTenantCheckTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/history/useroperationlog/UserOperationLogAnnotationTest.java
Labels: ci:no-build

#3087 chore(deps): bump jackson version
  distro/wildfly/modules/src/main/modules/com/fasterxml/jackson/core/jackson-annotations/2.14.1/module.xml
  distro/wildfly/modules/src/main/modules/com/fasterxml/jackson/core/jackson-core/2.14.1/module.xml
  distro/wildfly/modules/src/main/modules/com/fasterxml/jackson/core/jackson-databind/2.14.1/module.xml
  engine-rest/engine-rest-openapi-generator/pom.xml
  engine/pom.xml
  parent/pom.xml
  pom.xml
  qa/integration-tests-engine/src/test/resources-wildfly/jboss-deployment-structure-spin-json.xml
Labels: ci:rest-api, ci:wildfly

#3161 chore(ci): retired environments cleanup
  .ci/config/matrices.yaml
  database/pom.xml
  qa/test-db-instance-migration/test-fixture-72/pom.xml
  qa/test-db-instance-migration/test-fixture-73/pom.xml
  qa/test-db-instance-migration/test-fixture-74/pom.xml
Labels: ci:mariadb, ci:mysql, ci:no-build, ci:sqlserver, bot:java-dependency-tree

#3126 chore(engine-rest): centralize list query logic
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/AuthorizationRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/BatchRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/CaseDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/CaseExecutionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/CaseInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/DecisionDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/DecisionRequirementsDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/DeploymentRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/EventSubscriptionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/ExecutionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/ExternalTaskRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/FilterRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/GroupRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/IncidentRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/JobDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/JobRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/ProcessDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/ProcessInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/SchemaLogRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/TaskRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/TenantRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/UserRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/VariableInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricActivityInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricBatchRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricCaseActivityInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricCaseDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricCaseInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricDecisionDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricDecisionInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricDetailRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricExternalTaskLogRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricIdentityLinkLogRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricIncidentRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricJobLogRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricProcessDefinitionRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricProcessInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricTaskInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/HistoricVariableInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/history/UserOperationLogRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/util/QueryUtil.java
Labels: ci:rest-api, ci:webapp-integration

#3173 chore(deps): adjust mysql-connector-java dependency
  database/pom.xml
  test-utils/testcontainers/pom.xml
Labels: ci:mysql

#3166 chore(rest): remove was 8.5 rest artifact
  engine-rest/assembly/assembly-war-was.xml
  engine-rest/assembly/pom.xml
Labels: ci:websphere

#3070 feat(engine): allow update duedate on set job retries (REST API)
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/JobRetriesDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/SetJobRetriesByProcessDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/SetJobRetriesDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job-definition/{id}/retries/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job/retries/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/job/{id}/retries/put.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/job-retries-historic-query-based/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/job-retries/post.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/runtime/RetriesDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/runtime/SetJobRetriesByProcessDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/runtime/SetJobRetriesDto.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/JobRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/ProcessInstanceRestServiceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/management/JobDefinitionResourceImpl.java
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/sub/runtime/impl/JobResourceImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/JobDefinitionRestServiceInteractionTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/JobRestServiceInteractionTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ProcessInstanceRestServiceInteractionTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/helper/MockProvider.java
Labels: ci:rest-api, scope:core-api

#3175 chore(javadocs): fix javadocs for set job retries batch builders
  engine/src/main/java/org/camunda/bpm/engine/management/SetJobRetriesByJobsAsyncBuilder.java
  engine/src/main/java/org/camunda/bpm/engine/management/SetJobRetriesByProcessAsyncBuilder.java
Labels: ci:no-build

#3160 fix(engine): add tenant check for activity statistics filters
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Statistics.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/multitenancy/TenantIdProviderTest.java
Labels: ci:mysql
