Repository camunda/camunda-bpm-platform, pull requests merged in 2024-12, with the labels that each got.

#4558 Fidelity contributions 2666 job acquisition execution logging improvement
  engine-spring/core/src/main/java/org/camunda/bpm/engine/spring/components/jobexecutor/SpringJobExecutor.java
  engine/src/main/java/org/camunda/bpm/container/impl/jmx/services/JmxManagedThreadPool.java
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/JobExecutor.java
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/JobExecutorLogger.java
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/RuntimeContainerJobExecutor.java
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/SequentialJobAcquisitionRunnable.java
  engine/src/main/java/org/camunda/bpm/engine/impl/jobexecutor/ThreadPoolJobExecutor.java
  engine/src/test/java/org/camunda/bpm/engine/test/jobexecutor/DelayDelegate.java
  engine/src/test/java/org/camunda/bpm/engine/test/jobexecutor/JobAcquisitionLoggingTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/jobexecutor/JobExecutionLoggingTest.java
  engine/src/test/resources/org/camunda/bpm/engine/test/jobexecutor/SimpleAsyncDelayProcess.bpmn20.xml
Labels: ci:h2, ci:no-build

#4759 fix(flaky): change tomcat port for XTaC IT
  clients/java/client/pom.xml
  clients/java/client/src/it/resources/integration-rules.properties
Labels: ci:jdk, bot:backport:7.20, bot:backport:7.21, bot:backport:7.22

#4838 chore(openapi): fix process instance comment tag
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/comment/get.ftl
Labels: ci:rest-api

#4800 chore(pom): add support for Spring Boot 3.4.0
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/https/HttpsConfigurationEnabledTest.java
  distro/run/core/src/test/resources/application-test-https-enabled.yml
  parent/pom.xml
Labels: ci:e2e, ci:all-as, ci:run, ci:spring-boot, bot:java-dependency-check, bot:backport:7.22

#4832 chore(engine,parent): Bump GraalVM to 21.3.12
  engine/src/main/java/org/camunda/bpm/engine/impl/cfg/ProcessEngineConfigurationImpl.java
  engine/src/main/java/org/camunda/bpm/engine/impl/scripting/engine/CamundaScriptEngineManager.java
  parent/pom.xml
Labels: ci:all-as, ci:jdk, ci:spring-boot, ci:webapp-integration, bot:java-dependency-check

#4829 fix(asyncInstanceModification): respect ancestor during startBefore/after cmd execution
  engine/src/main/java/org/camunda/bpm/engine/impl/cmd/AbstractInstantiationCmd.java
  engine/src/main/java/org/camunda/bpm/engine/impl/json/ModificationCmdJsonConverter.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/SingleProcessInstanceModificationAsyncTest.java
  engine/src/test/resources/org/camunda/bpm/engine/test/api/runtime/ProcessInstanceModificationTest.loop.bpmn
Labels: ci:default-build, ci:migration, ci:rolling-update

#4815 tests(starter): add tests for oauth2 and identity provider
  spring-boot-starter/starter-security/pom.xml
  spring-boot-starter/starter-security/src/test/java/org/camunda/bpm/spring/boot/starter/security/SampleApplication.java
  spring-boot-starter/starter-security/src/test/java/org/camunda/bpm/spring/boot/starter/security/oauth2/AbstractSpringSecurityIT.java
  spring-boot-starter/starter-security/src/test/java/org/camunda/bpm/spring/boot/starter/security/oauth2/CamundaBpmSampleApplicationIT.java
  spring-boot-starter/starter-security/src/test/java/org/camunda/bpm/spring/boot/starter/security/oauth2/CamundaBpmSecurityAutoConfigOauth2ApplicationIT.java
  spring-boot-starter/starter-security/src/test/java/org/camunda/bpm/spring/boot/starter/security/oauth2/impl/CamundaIdentityProviderIT.java
  spring-boot-starter/starter-security/src/test/java/org/camunda/bpm/spring/boot/starter/security/oauth2/impl/OAuth2GrantedAuthoritiesMapperIT.java
  spring-boot-starter/starter-security/src/test/resources/oauth2-mock.properties
Labels: ci:spring-boot

#4818 chore(webapps): Remove Telemetry Settings page and Popup
  webapps/frontend/camunda-commons-ui/lib/analytics/index.js
  webapps/frontend/camunda-commons-ui/lib/analytics/modal.html
  webapps/frontend/camunda-commons-ui/lib/index.js
  webapps/frontend/public/app/admin/locales/de.json
  webapps/frontend/public/app/admin/locales/en.json
  webapps/frontend/public/app/cockpit/locales/de.json
  webapps/frontend/public/app/cockpit/locales/en.json
  webapps/frontend/public/app/tasklist/locales/de.json
  webapps/frontend/public/app/tasklist/locales/en.json
  webapps/frontend/public/app/welcome/locales/de.json
  webapps/frontend/public/app/welcome/locales/en.json
  webapps/frontend/ui/admin/client/scripts/pages/analytics.html
  webapps/frontend/ui/admin/client/scripts/pages/analytics.js
  webapps/frontend/ui/admin/client/scripts/pages/analytics.less
  webapps/frontend/ui/admin/client/scripts/pages/main.js
  webapps/frontend/ui/admin/client/styles/styles.less
Labels: ci:e2e
