Repository camunda/camunda-bpm-platform, pull requests merged in 2024-04, with the labels that each got.

#4248 fix(wildfly): updated graalVM modules
  distro/wildfly/modules/src/main/modules/org/camunda/bpm/camunda-engine/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/js/js/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/regex/regex/main/module.xml
  distro/wildfly/modules/src/main/modules/org/graalvm/truffle/truffle-api/main/module.xml
Labels: ci:wildfly

#4245 fix(engine-rest): return bad request for invalid sorting option for fetch and lock
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/externaltask/FetchExternalTasksDto.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ExternalTaskRestServiceInteractionTest.java
Labels: ci:rest-api

#4283 fix(db2): Reduce batch execution time by filtering out queried byte arrays
  engine/src/main/java/org/camunda/bpm/engine/impl/db/sql/DbSqlSessionFactory.java
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/VariableInstance.xml
Labels: ci:db2

#4290 chore(database): Update MySQL Connector to v8.3.0
  database/pom.xml
Labels: ci:mysql, bot:java-dependency-check
