Repository camunda/camunda-bpm-platform, pull requests merged in 2025-01, with the labels that each got.

#4752 test(sql): Test fix for incorrect running instances count in process …
  webapps/assembly/src/main/resources/org/camunda/bpm/cockpit/plugin/base/queries/processDefinition.xml
  webapps/assembly/src/test/java/org/camunda/bpm/cockpit/plugin/base/ProcessDefinitionRestServiceTest.java
Labels: ci:h2, ci:default-build, ci:run, ci:webapp-integration

#4864 fix(spin): make jsonPath use Double nodes as default number type
  spin/dataformat-json-jackson/src/main/java/org/camunda/spin/impl/json/jackson/format/JacksonJsonDataFormat.java
  spin/dataformat-json-jackson/src/test/java/org/camunda/spin/json/JsonTestConstants.java
  spin/dataformat-json-jackson/src/test/java/org/camunda/spin/json/mapping/OrderDetails.java
  spin/dataformat-json-jackson/src/test/java/org/camunda/spin/json/tree/JsonTreeJsonPathScriptTest.java
  spin/dataformat-json-jackson/src/test/java/org/camunda/spin/json/tree/JsonTreeReadPropertyScriptTest.java
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/groovy/json/tree/JsonTreeJsonPathGroovyTest.shouldGetNumberFromJsonPath.groovy
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/groovy/json/tree/JsonTreeMapObjectToJsonGroovyTest.shouldMapDictionary.groovy
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/javascript/json/tree/JsonTreeJsonPathJavascriptTest.shouldGetNumberFromJsonPath.js
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/javascript/nashorn/json/tree/JsonTreeJsonPathJavascriptTest.shouldGetNumberFromJsonPath.js
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/json/example.json
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/python/json/tree/JsonTreeJsonPathPythonTest.shouldGetNumberFromJsonPath.py
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/python/json/tree/JsonTreeMapObjectToJsonPythonTest.shouldMapDictionary.py
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/ruby/json/tree/JsonTreeJsonPathRubyTest.shouldGetNumberFromJsonPath.rb
  spin/dataformat-json-jackson/src/test/resources/org/camunda/spin/ruby/json/tree/JsonTreeMapObjectToJsonRubyTest.shouldMapDictionary.rb
Labels: ci:all-as, ci:default-build

#4868 fix(webapps): add skipIsolationLevelCheck to configuration on webapp init
  webapps/assembly/src/main/java/org/camunda/bpm/webapp/impl/db/QuerySessionFactory.java
  webapps/assembly/src/test/java/org/camunda/bpm/webapp/impl/db/QuerySessionFactoryTest.java
  webapps/assembly/src/test/resources/camunda-skip-check.cfg.xml
Labels: ci:all-db, bot:backport:7.22

#4879 chore(optimize): exclude standalone tasks from optimize queries
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/HistoricTaskInstance.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/optimize/GetCompletedHistoricTaskInstancesForOptimizeTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/optimize/GetRunningHistoricTaskInstancesForOptimizeTest.java
Labels: ci:h2, ci:all-db, ci:default-build

#4880 chore(pom): add support for Spring Boot 3.4.1
  distro/run/core/src/test/java/org/camunda/bpm/run/test/config/https/HttpsConfigurationEnabledTest.java
  distro/run/core/src/test/resources/application-test-https-enabled.yml
  engine-rest/engine-rest-jakarta/pom.xml
  parent/pom.xml
Labels: ci:e2e, ci:all-as, ci:rest-api, ci:run, ci:spring-boot, bot:java-dependency-check

#4847 feat: process instance pdk api enhancement
  engine-rest/engine-rest-openapi/src/main/templates/models/org/camunda/bpm/engine/rest/dto/runtime/ProcessInstanceDto.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/condition/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/message/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/key/{key}/start/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/key/{key}/submit-form/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/key/{key}/tenant-id/{tenant-id}/start/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/key/{key}/tenant-id/{tenant-id}/submit-form/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/{id}/start/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-definition/{id}/submit-form/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/get.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/post.ftl
  engine-rest/engine-rest-openapi/src/main/templates/paths/process-instance/{id}/get.ftl
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/dto/runtime/ProcessInstanceDto.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ConditionRestServiceTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/MessageRestServiceTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/ProcessInstanceRestServiceInteractionTest.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/helper/MockProvider.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/ExecutionEntity.java
  engine/src/main/java/org/camunda/bpm/engine/impl/persistence/entity/ProcessInstanceWithVariablesImpl.java
  engine/src/main/java/org/camunda/bpm/engine/runtime/Execution.java
  engine/src/main/resources/org/camunda/bpm/engine/db/create/activiti.db2.create.engine.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/create/activiti.h2.create.engine.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/create/activiti.mariadb.create.engine.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/create/activiti.mssql.create.engine.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/create/activiti.mysql.create.engine.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/create/activiti.oracle.create.engine.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/create/activiti.postgres.create.engine.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/upgrade/db2_engine_7.22_to_7.23.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/upgrade/h2_engine_7.22_to_7.23.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/upgrade/mariadb_engine_7.22_to_7.23.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/upgrade/mssql_engine_7.22_to_7.23.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/upgrade/mysql_engine_7.22_to_7.23.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/upgrade/oracle_engine_7.22_to_7.23.sql
  engine/src/main/resources/org/camunda/bpm/engine/db/upgrade/postgres_engine_7.22_to_7.23.sql
  engine/src/main/resources/org/camunda/bpm/engine/impl/mapping/entity/Execution.xml
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/ExecutionQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/api/runtime/ProcessInstanceQueryTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/event/conditional/ConditionalStartEventTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/event/message/MessageStartEventTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/bpmn/event/timer/StartTimerEventTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/standalone/entity/ExecutionEntityTest.java
  engine/src/test/java/org/camunda/bpm/engine/test/util/ExecutionTree.java
  parent/pom.xml
Labels: ci:all-db, ci:default-build, ci:migration, ci:rest-api, ci:rolling-update

#4895 revert(deps): revert accidental bump of a library
  parent/pom.xml
Labels: ci:spring-boot

#4857 feat(baseUrl): add UrlResolver
  clients/java/client/src/it/java/org/camunda/bpm/client/client/ClientIT.java
  clients/java/client/src/main/java/org/camunda/bpm/client/ExternalTaskClientBuilder.java
  clients/java/client/src/main/java/org/camunda/bpm/client/UrlResolver.java
  clients/java/client/src/main/java/org/camunda/bpm/client/impl/EngineClient.java
  clients/java/client/src/main/java/org/camunda/bpm/client/impl/ExternalTaskClientBuilderImpl.java
  clients/java/client/src/main/java/org/camunda/bpm/client/impl/PermanentUrlResolver.java
  clients/java/client/src/test/java/org/camunda/bpm/client/impl/ExternalTaskClientBuilderImplTest.java
Labels: ci:jdk

#4886 feat(rest): make LockAndFetchHandler blocking queue's capacity configurable
  engine-rest/assembly-jakarta/src/main/runtime/tomcat/webapp/WEB-INF/web.xml
  engine-rest/assembly-jakarta/src/main/runtime/wildfly/webapp/WEB-INF/web.xml
  engine-rest/assembly/src/main/runtime/jbossas7/webapp/WEB-INF/web.xml
  engine-rest/assembly/src/main/runtime/tomcat/webapp/WEB-INF/web.xml
  engine-rest/assembly/src/main/runtime/was/webapp/WEB-INF/web.xml
  engine-rest/assembly/src/main/runtime/wildfly/webapp/WEB-INF/web.xml
  engine-rest/assembly/src/main/runtime/wls/webapp/WEB-INF/web.xml
  engine-rest/engine-rest/src/main/java/org/camunda/bpm/engine/rest/impl/FetchAndLockHandlerImpl.java
  engine-rest/engine-rest/src/test/java/org/camunda/bpm/engine/rest/impl/FetchAndLockHandlerTest.java
Labels: ci:all-as, ci:rest-api

#4863 deps(wildfly): upgrade to wildfly 35
  Jenkinsfile
  distro/wildfly/assembly/src/wildfly/standalone-full.xml
  distro/wildfly/assembly/src/wildfly/standalone.xml
  parent/pom.xml
  qa/integration-tests-webapps/pom.xml
  qa/wildfly-runtime/src/main/wildfly/domain/configuration/domain.xml
  qa/wildfly-runtime/src/main/wildfly/domain/configuration/host.xml
  qa/wildfly-runtime/src/main/wildfly/standalone/configuration/standalone.xml
Labels: ci:jbosseap, ci:wildfly, bot:java-dependency-check

#4914 fix(webapp): Handle null authentication as unauthorized
  webapps/assembly/src/main/java/org/camunda/bpm/webapp/impl/security/auth/UserAuthenticationResource.java
  webapps/assembly/src/test/java/org/camunda/bpm/webapp/impl/security/auth/UserAuthenticationResourceTest.java
Labels: ci:webapp-integration, bot:backport:7.22
